body {
	font-family: 'Open Sans', sans-serif;
	background: olive;
	color: white;
}

h1 {
	text-align: center;
	margin: 50px;
}

h3 {
	text-align: center;
}

img {
	border-radius: 10px;
}

a {
	color: black;
}

a:hover {
	color: grey;
}

#title {
	font-size: 100px;
}

#subtitle {
	font-size: 50px;
}